.Hero {
  width: 100vw;
  background-image: url('../../assets/images/bg_1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -100px; 
  color: #ffffff;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: flex-start;
}

.Hero h1 {
  font-family: 'Raleway', "Helvetica Neue", sans-serif;
  font-weight: 700;
  text-shadow: 1px 2px 6px #292929;
  margin-bottom: 0px;
  font-size: 52px;
}

.Hero h2 {
  font-family: 'Raleway', "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-shadow: 1px 2px 6px #292929;
  margin-top: 0px;
}

.Hero h3 {
  font-family: 'Raleway', "Helvetica Neue", sans-serif;
  font-weight: 400;
  text-shadow: 1px 2px 6px #292929;
  margin-top: 0px;
  font-size: 24px;
}